body {
  text-align: center;
  padding: 0;
  margin: 0;
}
div.coverpage {
  text-align: center;
  page-break-after: always;
}
img.coverimage {
  max-width: 100%;
  max-height: 100%;
  vertical-align: text-top;
  margin-bottom: 0.5em !important;
  padding: 0;
}
