body {
  font-family: Georgia, "DejaVu Serif", serif;
  text-indent: 0;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 800pt;
}
@page {
  margin: 0 0 0 0;
}
p {
  font-size: 1em;
  font-style: normal;
  text-align: justify;
  text-indent: 15pt;
  margin: 0;
  line-height: 1.2em;
}
h1 {
  font-size: 2em;
  color: #900;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-style: normal;
  font-size: 1.6em;
  color: #900;
  text-align: center;
}
h3 {
  font-family: Verdana, Droid Sans, Noto Sans, DejaVu Sans, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  font-style: normal;
  color: #900;
  text-align: center;
}
.senindento {
  text-indent: 0;
}
.centro {
  text-indent: 0;
  text-align: center;
}
.kolofono {
  text-indent: 0;
}
.demando {
  text-indent: 0;
  font-style: normal;
  /*  font-weight: bold;*/
  margin-top: 12px;
}
